@{
    Layout = "_AuthenticatedLayout";
    ViewBag.Title = "TakeChallenge";
}

@model ProtectGaia.Models.UserViewModel

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Dashboard - Brand</title>
<link rel="stylesheet" href="~/assets2/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets2/bootstrap/css/print.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" href="~/assets2/fonts/fontawesome-all.min.css">
<link rel="stylesheet" href="~/assets2/fonts/font-awesome.min.css">
<link rel="stylesheet" href="~/assets2/fonts/fontawesome5-overrides.min.css">
<link rel="stylesheet" href="/css/popup.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<input type="hidden" id="isFirstTimeLogin" value="@Model.userModel.IsFirstTimeLogin.ToString()" />
<!-- Main -->
<div class="col-12 d-none d-print-block" style="margin-top:8rem;">
    <h1 class="text-center" style="font-size:90px">
        <img src="~/images/logo.jpeg" alt="ecoMorph" style="width:8rem;height:8rem;"> EcoMorph
    </h1>
    <br />
    <h2 class="text-center" style="margin-top:5rem;font-size:40px;color:#303030">
        The report documents that
    </h2>
    <p style="text-align:center;">
        <img class="border rounded-circle img-profile" src="@Model.userModel.UserImageUrl" style="padding:0;height: 8REM;">
    </p>
    <h1 class="text-center" style="margin-top:2rem;color:#20c9a6">
        <b style="font-weight:600;font-size:60px;color:#20c9a6"> @Model.userModel.UserName</b>
    </h1>
    <h4 class="text-center" style="margin-top:2rem;font-size:40px;color:#303030">

        has reduced <b style="font-weight:900;font-size:40px;color:#303030">@Model.userModel.CarbonScore grams</b>  of Carbon  from our Environment.
    </h4>
</div>

<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="row d-print-none" style="display:block;margin-top:0rem;">
                <img class="border rounded-circle img-profile" src="@Model.userModel.UserImageUrl" style="padding:0;height: 8REM;margin-left: 25px;margin-top: 12px;">
                <span class="d-lg-inline mr-2 text-gray-600 small" style="margin-left: 16px;height: 25px;font-size: 26px;margin-top: 0px;padding-top: 0px;">
                    @Model.userModel.UserName
                </span>
                @*<div id="mImageBox" class="btn btn-primary btn-lg btn-sm d-sm-inline-block d-print-none" onclick="fbs_click()" style="cursor:pointer">
                    Fb Share
                </div>*@
                <a class="btn btn-primary btn-lg btn-sm d-sm-inline-block d-print-none  printer" role="button" href="#"
                   style="background-color: rgb(47,194,162);border-color: #2fc2a2 !important;z-index:5;margin-top: 4rem; float: right; margin-right: 4rem;padding:.75rem;"
                   onclick="window.print();">
                    <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Print Report
                </a>
            </div>
            <div class="align-items-center mb-4 d-print-none" style="margin-top: 32px;">
                <h3 class="text-dark mb-0" style="text-align:center;">EcoBoard</h3>
            </div>
            <div class="container-fluid">
                @await Html.PartialAsync("~/Views/Dashboard/TaskRenderer.cshtml", Model)
                <div class="row d-print-none prog">
                    <div class="col-md-6 col-xl-3 mb-4">
                        <div class="card shadow border-left-primary py-2" style="border-left: 2rem solid #4e73df!important;">
                            <div class="card-body">
                                <h3 class="text-center card-title">Current Level</h3>
                                <div></div>
                                <h2 class="display-3 text-center" id="level @Model.userModel.LevelId">@Model.userModel.LevelId</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 mb-4 d-print-none">
                        <div class="card shadow border-left-primary py-2" style="border-left: 2rem solid #1cc88a!important;">
                            <div class="card-body">
                                <h3 class="text-center card-title">Completed Tasks</h3>
                                <div></div>
                                <h2 class="display-3 text-center">@Model.userModel.LevelCompletedTask</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3 mb-4 d-print-none">
                        <div class="card shadow border-left-primary py-2" style="border-left: 2rem solid #36b9cc !important;">
                            <div class="card-body">
                                <h3 class="text-center card-title">Pending Tasks</h3>
                                <div></div>
                                <h2 class="display-3 text-center">@Model.userModel.PendingTask</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-3 mb-4 d-print-none">
                        <div class="card shadow border-left-primary py-2" style="border-left: 2rem solid #f6c23e!important;">
                            <div class="card-body">
                                <h3 class="text-center card-title">Overall Score</h3>
                                <div></div>
                                <h2 class="display-3 text-center">@Model.userModel.TotalPointScored</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-7 col-xl-8 col-sm-6">
                        <div class="card shadow mb-4" style="padding-bottom:1rem;">
                            <div class="card-header  linc">
                                <h6 class="text-primary font-weight-bold m-0" style="color: rgb(47,194,162)!important;text-align:center;color:black!important">PROGRESS</h6>
                                @*<div class="dropdown no-arrow">
                            <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                            <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in"
                                 role="menu">
                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" role="presentation" href="#">&nbsp;Action</a><a class="dropdown-item" role="presentation" href="#">&nbsp;Another action</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#">&nbsp;Something else here</a>
                            </div>
                        </div>*@
                            </div>
                            <div class="card-body d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" style="position:relative;">

                                <div class="chart-area">
                                    <canvas id="line-chart" width="780" height="300" class="d-flex justify-content-between align-items-center"></canvas>
                                    @* <canvas data-bs-chart="{&quot;type&quot;:&quot;line&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Jan&quot;,&quot;Feb&quot;,&quot;Mar&quot;,&quot;Apr&quot;,&quot;May&quot;,&quot;Jun&quot;,&quot;Jul&quot;,&quot;Aug&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Earnings&quot;,&quot;fill&quot;:true,&quot;data&quot;:[&quot;0&quot;,&quot;10000&quot;,&quot;5000&quot;,&quot;15000&quot;,&quot;10000&quot;,&quot;20000&quot;,&quot;15000&quot;,&quot;25000&quot;],&quot;backgroundColor&quot;:&quot;rgba(78, 115, 223, 0.05)&quot;,&quot;borderColor&quot;:&quot;rgba(78, 115, 223, 1)&quot;}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{},&quot;scales&quot;:{&quot;xAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;],&quot;drawOnChartArea&quot;:false},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;padding&quot;:20}}],&quot;yAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;]},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;padding&quot;:20}}]}}}"></canvas>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-4 col-sm-6">
                        <div class="card shadow mb-4" style="padding-bottom:1rem;">
                            <div class="card-header carbc">
                                <h6 class="text-primary font-weight-bold m-0" style="color: rgb(47,194,162) !important;text-align:center;color:black!important">CARBON EMISSIONS SAVED</h6>
                            </div>
                            <div class="card-body">
                                <canvas id="doughnut-chart" width="800" height="450"></canvas>
                                <div class="text-center small mt-4">
                                    <h6 class="mr-2">
                                        Be proud of yourself,<br /> you have reduced @Model.userModel.CarbonScore grams of carbon till now!
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-none d-print-block" style="margin-top:5rem;color: rgb(255,215,0);">
                    <p class="text-center" style="color: rgb(255,215,0);font-size:30px;">
                        <i class="fa fa-star" style="color: #ffd700;"></i>
                        &nbsp;Keep up the good work and continue contributing towards a Greener Environment
                    </p>
                </div>
                <script>(function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                <div class="row d-print-none" style="align-self:center;margin-top:0rem;">
                    <div class="col-md-12" style="padding-bottom:3em;">
                    <h3 class="text-center" style="color:black">
                        How about motivating your friends and family?<br />
                        Encourage them to join EcoMorph today!
                    </h3>

                    <center>
                        <div class="fb-share-button"
                             data-href="https://www.ecomorph.me"
                             data-layout="button">
                        </div>
                    </center>
</div>
                </div>
            </div>
        </div>
    </div><a class="border rounded d-inline scroll-to-top d-print-none" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>

@*<script src="~/assets2/js/jquery.min.js"></script>*@
<script src="~/assets2/js/jquery.min.js">window</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="/js/analytics.js"></script>
<script src="~/assets2/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets2/js/chart.min.js"></script>
<script src="~/assets2/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="~/assets2/js/theme.js"></script>
<script src="~/assets2/js/form-val.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

